In [ ]:
# 7481 : ATM놀이
# 돌아가는 것 같은데 백준은 틀림

n = int(input())

for i in range(n) :
  a, b, s = map(int, input().split())
  num_a, num_b = 0, 0
  while s >= 0 :
    
    if a > b :
      if s % a == 0 :
        num_a = s // a
        break
      s -= b
      num_b += 1

    else :
      if s % b == 0 :
        num_b = s // b
        break
      s -= a
      num_a += 1

  if s > 0 :
    print(num_a, num_b)
  else :
    print('Impossible')

In [ ]:
# 2292 : 벌집
# 정답

x = int(input())
if x>=1 and x<=1000000000 :
  x = x-1 
  six = 6
  count = 1
  
  while x > 0 :
    x -= six
    count += 1
    six += 6

  print(count)
  
else :
  print('1과 1,000,000,000 사이의 숫자를 입력하세요.')

In [ ]:
# 1340 : 연도 진행바
# 정답..!
# January 10, 2004 00:01 -> 2.45920613236187 윤년인 경우 test

dic = {'January':'1', 'February':'2', 'March':'3', 'April':'4', 'May':'5', 'June':'6', 'July':'7', 'August':'8', 'September':'9', 'October':'10', 'November':'11', 'December':'12'}
leap = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
not_leap = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
numerator = 0

time = input()
time = time.replace(',', '')
time = time.replace(':', ' ')
time = time.split() # input 받자마자 split하면 리스트 형태에 들어가기 때문에 replace를 못쓴다.

if (int(time[2])%400 == 0) or (int(time[2])%4 == 0 and int(time[2])%100 != 0) : # 윤년인 경우
  denominator = sum(leap)*24*60 # 윤년의 모든 시간을 분단위로 나타냄
  for i in range(int(dic[time[0]]) - 1) : # 주어진 달까지의 day를 더함
    numerator += leap[i]
  numerator = numerator*24*60 + (int(time[1])-1)*24*60 + int(time[3])*60 + int(time[4]) # 시간 단위를 분으로 바꿈

else : # 윤년이 아닌 경우
  denominator = sum(not_leap)*24*60
  for i in range(int(dic[time[0]]) - 1) :
    numerator += not_leap[i]
  numerator = numerator*24*60 + (int(time[1])-1)*24*60 + int(time[3])*60 + int(time[4])
# 두번째 덧셈? -> 해당 달이 모두 지나지 않았기 때문에 일수를 따로 더해줌. 1을 뺀 이유는 해당 일이 다 지나지 않아서.

print(numerator/denominator * 100)

In [ ]:
# 1292 : 쉽게 푸는 문제
# 정답

a, b = map(int, input().split())
num_list = []
n = 1

while True :
  for _ in range(n) :
    num_list.append(n)
    if len(num_list) == b :
      break
  n += 1
  if len(num_list) == b :
    break

print(sum(num_list[a-1:b]))

In [ ]:
# 1312 : 소수
# 런타임 에러

a, b, n = map(int, input().split())
k = float(a/b) - int(a/b)
print(str(k)[n+1])

In [ ]:
3*11 + 5*6 + 4*2